:root {
  /* Colors */
  --main-text-color: #757575;
  --inverse-text-color: #ffffff;
  --title-text-color: #212121;
  --logo-color: #000000;
  --header-line-color: #ececec;
  --footer-mail-tel-color: rgba(255, 255, 255, 0.6);
  --main-bg-color: #ffffff;
  --inverse-bg-color: #2f303a;
  --grey-bg-color: #f5f4fa;
  --accent-color: #2196f3;
  --icons-main-color: #afb1b8;
  /* Fonts */
  --main-font: 'Roboto', sans-serif;
  --logo-font: 'Raleway', sans-serif;

  --transition-method: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--main-text-color);
  background-color: var(--main-bg-color);

  font-family: var(--main-font);
  letter-spacing: 0.03em;
}

/* Reset */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

/* Hidden elements */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Container */

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* All sections */

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Images */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Plain link */

.plink {
  text-decoration: none;
  color: currentColor;
}

/* Plain list */

.plist {
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-btn {
  min-height: 50px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  letter-spacing: 0.06em;
  color: var(--inverse-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition: background-color var(--transition-method);
}

.main-btn:hover,
.main-btn:focus {
  background-color: #188ce8;
}

/* Header */

.header {
  border-bottom: 1px solid var(--header-line-color);
}

.header-container {
  display: flex;
}

.nav,
.nav-list,
.header-contacts-list {
  display: flex;
  align-items: center;
}

.nav-list,
.header-contacts-list {
  gap: 50px;
}

/* Logo */

.logo {
  font-family: var(--logo-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
}

.nav-logo {
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 24px;

  color: var(--logo-color);
}

.footer-logo {
  color: var(--inverse-text-color);
}

.accentlogo {
  color: var(--accent-color);
}

/* Navigation */

.nav-link,
.header-contacts-link {
  display: block;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
}

.nav-link {
  position: relative;
  color: var(--title-text-color);
}

/* Accent color for links */

.nav-link,
.header-contacts-link,
.footer-contacts-link {
  transition: color var(--transition-method);
}

.nav-link.current,
.nav-link:hover,
.nav-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.footer-contacts-link:hover,
.footer-contacts-link:focus {
  color: var(--accent-color);
}

.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -1px;

  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-contacts-list {
  margin-left: auto;
}

.header-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: var(--main-text-color);
}

.header-contacts-icon {
  /* stroke: currentColor; */
  fill: currentColor;
}

/* -------------------- */
/* Стили для index.html */
/* -------------------- */

/* Section Hero */

.hero {
  color: var(--inverse-text-color);
  background-color: var(--inverse-bg-color);
}

.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url('../images/hero.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-title {
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  font-weight: 900;
  font-size: 44px;
  line-height: calc(60 / 44);
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  width: 216px;
}

/* Section Advs */

.section.advs {
  padding-bottom: 0;
}

.advs-list {
  display: flex;
  gap: 30px;
}

.advs-item {
  flex-basis: calc((100% - 30px * 3) / 4);
}

.advs-item-header {
  height: 120px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--grey-bg-color);
}

.advs-item-title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-text-color);
}

.advs-item-text {
  font-size: 14px;
  line-height: calc(24 / 14);
}

/* Section WhatDo */

.whatdo-title,
.ourteam-title,
.clients-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-text-color);
}

.whatdo-list {
  display: flex;
  gap: 30px;
  justify-content: center;
}

.whatdo-item {
  position: relative;
  flex-basis: calc((100% - 30px * 2) / 3);
}

.whatdo-item-description {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  text-transform: uppercase;

  color: var(--inverse-text-color);
  background-color: rgba(47, 48, 58, 0.8);
}

/* Section OurTeam */

.ourteam {
  background-color: var(--grey-bg-color);
}

.ourteam-list {
  display: flex;
  gap: 30px;
}

.ourteam-item {
  flex-basis: calc((100% - 30px * 3) / 4);
  background-color: var(--main-bg-color);
  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.ourteam-item-container {
  padding: 30px 0;
}

.ourteam-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-text-color);
}

.ourteam-job {
  font-size: 16px;
  line-height: calc(19 / 16);
  margin-bottom: 16px;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  color: var(--icons-main-color);
  background-color: var(--main-bg-color);
  border-radius: 50%;

  transition: color var(--transition-method), background-color var(--transition-method);
}

.socials-link:hover,
.socials-link:focus {
  color: var(--main-bg-color);
  background-color: var(--accent-color);
}

.socials-icon {
  fill: currentColor;
}

/* Section Clients */

.clients-list {
  display: flex;
  gap: 30px;
}

.clients-item {
  flex-basis: calc((100% - 30px * 5) / 6);
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 92px;
  color: var(--icons-main-color);
  background-color: var(--main-bg-color);
  border: 1px solid currentColor;
  border-radius: 4px;

  transition: color var(--transition-method);
}

.clients-link:hover,
.clients-link:focus {
  color: var(--accent-color);
}

.clients-logo {
  fill: currentColor;
}

/* Footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--inverse-bg-color);
}

.footer > .container {
  display: flex;
}

.footer-contacts {
  margin-right: 70px;
  min-width: 231px;
}

.footer-socials {
  padding-top: 12px;
}

.footer-form {
  padding-top: 12px;
  margin-left: auto;
}

.address {
  margin-top: 20px;
  font-style: inherit;
  font-size: 14px;
  line-height: calc(24 / 14);
  color: var(--footer-mail-tel-color);
}

.geoaddr {
  color: var(--inverse-text-color);
}

.footer-contacts-list > :not(:last-child) {
  margin-bottom: 9px;
}

.footer-socials-title,
.signform-label {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--inverse-text-color);
}

.footer-socials .socials-link {
  color: var(--main-bg-color);
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color var(--transition-method);
}

.footer-socials .socials-link:hover,
.footer-socials .socials-link:focus {
  background-color: var(--accent-color);
}

.signform {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 12px;
}

.signform-label {
  display: block;
}

.signform-input {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: calc(20 / 16);
  color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.signform-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 200px;
}

/* ------------------------ */
/* Стили для portfolio.html */
/* ------------------------ */

/* Filter buttons */

.portfolio-filter-list {
  display: flex;
  gap: 8px;
  margin-bottom: 50px;
  justify-content: center;
}

.portfolio-filter-btn {
  padding: 6px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: calc(26 / 16);
  text-align: center;
  color: var(--title-text-color);
  background-color: var(--grey-bg-color);
  cursor: pointer;
  border: 0;
  border-radius: 4px;

  transition: color var(--transition-method), background-color var(--transition-method),
    box-shadow var(--transition-method);
}

.portfolio-filter-btn.current,
.portfolio-filter-btn:hover,
.portfolio-filter-btn:focus {
  color: var(--inverse-text-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Portfolio list */

.portfolio-list {
  /* параметры сетки */
  --items: 3;
  --gap: 30px;

  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
}

.portfolio-item {
  flex-basis: calc((100% - var(--gap) * (var(--items) - 1)) / var(--items));
}

.portfolio-link {
  display: block;
  transition: box-shadow var(--transition-method);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-thumb {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: calc(28 / 18);
  color: var(--inverse-text-color);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform var(--transition-method);
}

.portfolio-link:hover .portfolio-overlay,
.portfolio-link:focus .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-item-container {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: calc(36 / 18);
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.portfolio-type {
  font-size: 16px;
  line-height: calc(30 / 16);
}

/* Modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: visibility var(--transition-method), opacity var(--transition-method);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.modal {
  position: absolute;
  width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  padding: 40px;

  background: var(--main-bg-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform var(--transition-method);
}

.modal-btn-close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--main-bg-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;

  transition: color var(--transition-method);
}

.modal-btn-close:hover,
.modal-btn-close:focus {
  color: var(--accent-color);
}

.modal-close-icon {
  fill: currentColor;
}

/* Register form */

.regform-title {
  display: block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  color: var(--title-text-color);
}

.regform-group {
  margin-bottom: 20px;
}

.regform-field {
  display: block;
}

.regform-field:not(:last-child) {
  margin-bottom: 10px;
}

.regform-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.regform-input-wrap {
  position: relative;
  display: block;
}

.regform-input {
  width: 100%;
  height: 40px;
  padding: 0 42px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition-method);
}

.regform-input:focus {
  border-color: var(--accent-color);
}

.regform-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-method);
}

.regform-field:focus-within .regform-icon {
  fill: var(--accent-color);
}

.regform-comment {
  resize: none;
  height: 120px;
  padding: 12px 16px;
  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
}

.regform-comment::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.regform-input:invalid:not(:placeholder-shown):not(:focus) {
  border-color: red;
}

.regform-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-bottom: 30px;
}

.regform-icon-unchecked {
  opacity: 1;
  transition: opacity var(--transition-method);
}

.regform-icon-checked {
  opacity: 0;
  transition: opacity var(--transition-method);
}

.regform-check:checked + .regform-check-icon .regform-icon-unchecked {
  opacity: 0;
}

.regform-check:checked + .regform-check-icon .regform-icon-checked {
  opacity: 1;
}

.regform-check-label {
  user-select: none;
  font-size: 14px;
  line-height: calc(24 / 14);
}

.regform-check-link {
  color: var(--accent-color);
}

.regform-check:focus + .regform-check-icon {
  outline: 2px solid var(--accent-color);
  outline-offset: 1px;
  border-radius: 2px;
}

.regform-btn {
  width: 200px;
  display: block;
  margin: 0 auto;
}
